<ul class="small-block-grid-1 events-list">
    <li class="events-item">
        <ul class="day-events-list" data-ng-repeat="event in events">
            <li class="row day-event-item">
                <div class="event_item">
                    <div class="event_item_upper">
                        <div class="club_img_wrapper">
                            <img src="" alt="">
                        </div>
                        <div class='clubname_title_wrapper'>
                            <div class='clubname'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to website of Chalet'>{{event.place}}</a>
                            </div>
                            <div class='title'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to original website of the event'>{{event.title}}</a>
                                <span class='item_more_info'>more</span>
                            </div>
                            <div class='event_lineup'>
                                {{event.artists}}
                            </div>
                        </div>
                    </div>
                    <div class='event_item_lower'>
                        <div class='event_desc'>
                            {{event.description}}
                        </div>
                        <div class='event_meta_info'>
                            <ul class='tags'>
                                <li>{{event.tags}}</li>
                                <!--
                                <li><span>HipHop</span></li>
                                <li><span>Rock</span></li>
                                -->
                            </ul>
                            <div class='begin_entry_fee'>
                                begin: {{event.weekday}} {{event.date}} {{event.time}} | {{event.entryfee}} euros
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>