<ul class="small-block-grid-1 events-list">
    <li class="events-item">
        <ul class="day-events-list">
            <li class="day-event-item">
                <div class="event_item">
                    <div class="event_item_upper">
                        <div class="club_img_wrapper">
                            <img src="" alt="">
                        </div>
                        <div class='clubname_title_wrapper'>
                            <div class='clubname'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to website of Chalet'>Chalet</a>
                            </div>
                            <div class='title'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to original website of the event'>After*Our 25.Okt</a>
                                <span class='item_more_info'>more</span>
                            </div>
                            <div class='event_lineup'>
                                some
                            </div>
                        </div>
                    </div>
                    <div class='event_item_lower'>
                        <div class='event_desc'>
                            eine besonders langweilige Beschreibung. Fahr zur Hölle Peter, das ist meine Straße
                        </div>
                        <div class='event_meta_info'>
                            <ul class='tags'>
                                <li><span>HipHop</span></li>
                                <li><span>Rock</span></li>
                            </ul>
                            <div class='begin_entry_fee'>
                                Time unknown | 7 euros
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="day-event-item">
                <div class="event_item">
                    <div class="event_item_upper">
                        <div class="club_img_wrapper">
                            <img src="" alt="">
                        </div>
                        <div class='clubname_title_wrapper'>
                            <div class='clubname'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to website of Chalet'>Chalet</a>
                            </div>
                            <div class='title'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to original website of the event'>After*Our 25.Okt</a>
                                <span class='item_more_info'>more</span>
                            </div>
                            <div class='event_lineup'>
                                some
                            </div>
                        </div>
                    </div>
                    <div class='event_item_lower'>
                        <div class='event_desc'>
                            eine besonders langweilige Beschreibung. Fahr zur Hölle Peter, das ist meine Straße
                        </div>
                        <div class='event_meta_info'>
                            <ul class='tags'>
                                <li><span>HipHop</span></li>
                                <li><span>Rock</span></li>
                            </ul>
                            <div class='begin_entry_fee'>
                                Time unknown | 7 euros
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="day-event-item">
                <div class="event_item">
                    <div class="event_item_upper">
                        <div class="club_img_wrapper">
                            <img src="" alt="">
                        </div>
                        <div class='clubname_title_wrapper'>
                            <div class='clubname'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to website of Chalet'>Chalet</a>
                            </div>
                            <div class='title'>
                                <a href='http://www.residentadvisor.net/event.aspx?526876' title='go to original website of the event'>After*Our 25.Okt</a>
                                <span class='item_more_info'>more</span>
                            </div>
                            <div class='event_lineup'>
                                Kenneth Scott (live)! // Omar // Alex Cliche // Mattia Lapucci // Francesco De Luca
                            </div>
                        </div>
                    </div>
                    <div class='event_item_lower'>
                        <div class='event_desc'>
                            eine besonders langweilige Beschreibung. Fahr zur Hölle Peter, das ist meine Straße
                        </div>
                        <div class='event_meta_info'>
                            <ul class='tags'>
                                <li><span>HipHop</span></li>
                                <li><span>Rock</span></li>
                            </ul>
                            <div class='begin_entry_fee'>
                                Time unknown | 7 euros
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>