<ul class='small-block-grid-1 events-list'>
    <li class='events-item'>
        <ul class='day-events-list' data-ng-repeat='event in events'>
            <li class='row event_item'>
                <div class='show-for-medium-up medium-2 columns club_img_wrapper'>
                    <a href='' title='' target='_blank'><img src='assets/img/clubs/{{event.place}}.jpg' alt=''></a>
                </div>
                <div class='small-12 medium-10 columns clubname_title_wrapper'>
                    <div class='title'>
                        <a href='{{event.link}}' title='' target='_blank'>{{event.title}}</a>
                    </div>
                    <div class='clubname'>
                        at <a href='' title=''>{{event.place}}</a>
                    </div>
                    <div class='event_lineup'>
                        {{event.artists}}
                    </div>
                    <div class='event_desc'>
                        {{event.description}}
                    </div>
                    <div class='row event_meta_info'>
                        <div class='medium-5 columns begin_entry_fee'>
                            {{event.weekday}} {{event.time}} | {{event.entryfee}} euros
                        </div>
                        <div class='medium-6 columns tags'>
                            <span><a href=''>{{event.tags}}</a></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>