<div class="row headline">
    <img src="assets/img/headers/header.png">
</div>
<div class="row">
    <h2 class="text-center">Welcome to the internet, my friend! How can I help you?</h2>
</div>
<div class="row intro_text">
    <p class="text-center">
        Hi. I am Martin and I do stuff.<br>
        Well, different stuff everyday because I like things. Everything and nothing.<br>
        I like internet stuff like programming in Javascript and make it look fresh.<br>
        I like graffiti, too. Did some myself, I've got some friends enjoying it as well.
    </p>
</div>