<h2>Impressum</h2>
<p>The German &quot;Telemediengesetz&quot; requires that websites must have an &quot;Impressum&quot; disclosing information about the publisher. So, here we go:</p>

<h3>Operator of this website</h3>
<p>Martin Becker, Rudolf-Reusch-Str. 27, 10367 Berlin</p>

<h3>Contact</h3>
<p>Email: martinbecker.de+aszel@gmail.com<br />Mobile: +49 173 752 1924</p>
<p>Person responsible for the content on this website (Verantwortliche für die Inhalte auf der Seite gem&auml;&szlig; &sect; 55 Abs. 2 RStV): Martin Becker</p>

<h3>Liability for Content</h3>
<p>I make every effort to keep the information on our Website up-to-date, but accept no liability whatsoever for the content provided.</p>
<p>Pursuant to &sect;7 par. 1 of TMG (German Tele-Media Act), the law limits my responsibility as a service provider to my own content on these Web pages.</p>
<p>According to &sect;8 to 10 of TMG, I am not obligated to monitor third party information provided or stored on our Web site. However, I shall promptly remove any content upon becoming aware that it violates the law. My liability in such an instance shall commence at the time I become aware of the respective violation.</p>

<h3>Liability for Links</h3>
<p>This site contains links to third-party websites. I have no influence whatsoever on the information on these websites and accept no guaranty for its correctness. The content of such third-party sites is the responsibility of the respective owners/providers.</p>
<p>At the time third-party websites were linked to this website, I found NO GROUNDS WHATSOEVER of any likely contravention of the law. I shall promptly delete a link upon becoming aware that it violates the law.</p>