<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li>
        <h2>Development</h2>
        <span>Sites I visit frequently for inspiration and learning.</span>
        <ul class="link_list">
            <li class="link_list_item"><a href="http://tympanus.net/codrops/" target="_blank">Codrops</a></li>
            <li class="link_list_item"><a href="http://tutorialzine.com/" target="_blank">Tutorialzine</a></li>
            <li class="link_list_item"><a href="http://scotch.io/" target="_blank">Scotch.io</a></li>
            <li class="link_list_item"><a href="http://aerotwist.com/" target="_blank">Aerotwist</a></li>
            <li class="link_list_item"><a href="http://hakim.se/" target="_blank">Hakim</a></li>
        </ul>
    </li>
    <li>
        <h2>Writing</h2>
        <span></span>
        <ul class="link_list">
            <li class="link_list_item"><a href="" target="_blank">I Love Graffiti</a></li>
            <li class="link_list_item"><a href="http://www.loomit.de/version1/home.htm" target="_blank">Loomit</a></li>
            <li class="link_list_item"><a href="http://dezio.fr/" target="_blank">Dezio</a></li>
            <li class="link_list_item"><a href="http://daim.org/site/en" target="_blank">Daim</a></li>
            <li class="link_list_item"><a href="http://www.klarkkent.de/" target="_blank">Kent</a></li>
            <li class="link_list_item"><a href="http://poet73.blogspot.de/" target="_blank">Poet 73</a></li>
            <li class="link_list_item"><a href="http://ilovegraffiti.de/soten" target="_blank">Soten</a></li>
            <li class="link_list_item"><a href="http://sofles.com/blog/" target="_blank">Sofles</a></li>
        </ul>
    </li>
</ul>