<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li class="project_item">
        <h3>Website <b>Schombel</b>.de</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-schombel-icon.jpg" title="" alt="">
        </div>

        <div class="item_content_right">
            <p class="project_desc">
                A website about two guesthouses of my parents next to a racing track. Short, informative, nothing too special. Just one thing: the whole website is packed into one single html-document.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Pflegeheim<b>navigator</b></h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-gesundheitsnavigator-icon.jpg" title="" alt="">
        </div>

        <div class="item_content_right">
            <p class="project_desc">
                A major health insurance company asked for a new fresh design of their frontend and much, much more at the backend. My part was mostly changing the look and rewriting the html and css.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3><b>Flieg!</b> Mariechen...</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-fliegmariechen-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                This is a little website about the cool outcome of my mothers work in her spare freetime. <span style="text-decoration: line-through;">It is kind of a blog with endless scrollable content on the frontpage using a jQuery-plugin named scrollExtend. The blog itself is filled by hand and I try to keep up with my moms fast production.</span> I'm lazy - now on tumblr...
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Dentist's <b>surgery</b></h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-zahnarzt-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                A dentist in my family wanted to have her own website to provide some information for the patients. The website is kept quite simple, no special effects to mention. I tried to give it some taste by choosing a certain color schema. I like Colorschemedesigner.com pretty much.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3><b>R</b>adio <b>E</b>ngineering <b>G</b>roup</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-htwfunktechnik-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                As a student I was administrator of several websites of research groups. This one here is made with Joomla. But I think it doesn't get much love anymore... :-/
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Website for <b>research</b> group</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-htwnetmedia-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                A website for the "Center of Excellence for Media, Nets and Mobile Computing" at my university. I learned a lot during the time setting it up. Everything is handcoded.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Pressekonferenz<b>.tv</b></h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-pressekonferenz-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                This project was about setting up a website for livestream events and on-demand video support. The customer wanted a clean and "non-confusing" look which was given by a designer.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>aszel <b>#</b>1</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-aszel-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                Sag's mit der Axt!
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Living <b>Equia</b></h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-living-equia-icon.png" title="" alt="">
        </div>

        <div class="item_content_right">
            <p class="project_desc">
                That was one really cool project with cool people. The team was called &quot;Living Equia&quot; and took part at the <a href="http://www.sdeurope.org" target="_blank">Solar Decathlon Europe</a> in Madrid, Spain. We build a sustainable house with funky technology. I made a little video to push it a bit.
                <a href="" class="js_link" onclick="javascript:openDialog();">Check out the video</a>
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>Verenas <b>Spreewald</b></h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-verena-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                A friend asked for some help to put a website together. Turned out to be a little more work than I thought it would be. The result is a quite tasteful website. Hope I was somewhat of a good teacher.
            </p>
        </div>
    </li>

    <li class="project_item">
        <h3>China <b>Culture</b> Consulting</h3>

        <div class="item_content_left">
            <img src="assets/img/projects/website-china-icon.jpg" title="" alt="">
        </div>
        <div class="item_content_right">
            <p class="project_desc">
                Just another website. I was asked for a portfolio-like website and the customer chose the beautiful template named "astral" from the "html5up"-team.
            </p>
        </div>
    </li>
</ul>
<script type="text/javascript">

    // both functions following are for image color fading in webkit browsers
    $(".project_item").hover(function (){
            var currentId = $(this).attr('id');
            $("#" + currentId + " .item_content_left  img").css("-webkit-filter", "grayscale(0%)");
        },function(){
            var currentId = $(this).attr('id');
            $("#" + currentId + " .item_content_left  img").css("-webkit-filter", "grayscale(100%)");
        }
    );

    // prevent normal link function
    $(".js_link").click(function(){
        return false;
    });


    function openDialog() {
        Avgrund.show( "#default-popup" );
    }

    function closeDialog() {
        Avgrund.hide();
    }

</script>