<div class="row">
    <p>Currently under construction</p>
    <p>
        Ich programmiere gerade eine Galerie aber wei&szlig; momentan noch nicht wie lange das dauert.<br>
        Alle Bilder sollen verfügbar sein, alte und neue. Alles auch sortierbar nach Namen und vllt. auch anderen Kategorien.<br>
        Ich bin dran aber das ist halt Aufwand.
    </p>
</div>

<div class="row">
    <embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="600" height="400" flashvars="host=picasaweb.google.com&hl=de&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F117265063662813882781%2Falbumid%2F6069984534722741985%3Falt%3Drss%26kind%3Dphoto%26hl%3Dde" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</div>